extends layout

block content
  h1= title
  - let table=results;
  div(class="container-fluid mt-3")
   div(class="row m-1")
    each form in table
     - let destination=`buy(\"/table/update?id=${form._id}\")`
     div(class="col-sm-6 bg-success m-1 p-3") Table #{form.Brand} - #{form.quality} - #{form.cost}
      button.btn( class="btn-danger ml-2", onclick=destination ) Update
  
   script.
    function buy(path){
        window.location.href=path

        //alert(`You purchased Item ${a+1}`)
      }